<div class="container">
    <button mat-raised-button color="primary" class="button-add" (click)="openDialog()">Add holiday</button>

    <table id="datatables" class="table">
        <thead>
            <tr>
                <th *ngFor="let row of displayedColumns">{{ row }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let holiday of holidays| async; let i = index">
                <td>{{i+1}}</td>
                <td>{{holiday.fullName}}</td>
                <td>{{holiday.employeeID}}</td>                        
                <td>{{holiday.subdivision}}</td>
                <td>{{holiday.startHoliday.split('-').reverse().join('.')}}</td>
                <td>{{holiday.finishHoliday.split('-').reverse().join('.')}}</td>
                <td>
                    <button mat-raised-button color="accent" (click)="editHoliday(holiday)" class="action edit"><mat-icon>edit</mat-icon></button>
                    <button mat-raised-button color="warn" (click)="deleteHoliday(holiday)" class="action delete"><mat-icon>clear</mat-icon></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
