mat-toolbar {
    display: flex;
    justify-content: space-around;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 10px;
    border: 2px solid transparent;
    transition: 0.3s;

    &.active {
        border: 2px solid #fff;
    }
}

:host /deep/ .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .button-add {
        margin: 20px 0;
    }

    .top {
        display: flex;
        justify-content: space-between;

        .search {
            padding-top: 10px;
        }
    }

    .table {
        border: 2px solid teal;
        border-right: 1px solid teal;
        border-bottom: 1px solid teal;
        border-spacing: 0;
        text-align: left; 
        min-width: 500px;      
    }

    .table thead {
        background-color: #009688;
        color: #fff;
    }

    .table thead tr th {
        padding: 8px 8px;
    }

    .table tbody tr:nth-child(even) {
        background-color: #e0f2f1;
    }

    .table tbody tr td {
        padding: 4px 8px;
                        
    }

    .table th,
    .table td {
        border-bottom: 1px solid teal;
        border-right: 1px solid teal; 
    }

    .action {
        min-width: 0;
        line-height: 25px;
        padding: 0 2px;
        color: #fff; 
        
        mat-icon {
            font-size: 18px;
            height: auto;
        }
    } 
    .my-pagination /deep/ .ngx-pagination {
        padding: 0;
        
        .current {
            background: teal;
        }
    } 

}


  