<div class="container">
    <button mat-raised-button color="primary" class="button-add" (click)="openDialog()" >Add business trip</button>
    
    <table id="datatables" class="table">
        <thead>
            <tr>
                <th *ngFor="let row of displayedColumns">{{ row }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let businessTrip of businessTrips| async; let i = index">
                <td>{{i+1}}</td>
                <td>{{businessTrip.fullName}}</td>
                <td>{{businessTrip.employeeID}}</td>                        
                <td>{{businessTrip.subdivision}}</td>
                <td>{{businessTrip.startBusinessTrip.split('-').reverse().join('.')}}</td>
                <td>{{businessTrip.finishBusinessTrip.split('-').reverse().join('.')}}</td>
                <td>
                    <button mat-raised-button color="accent" (click)="editBusinessTrip(businessTrip)" class="action edit"><mat-icon>edit</mat-icon></button>
                    <button mat-raised-button color="warn" (click)="deleteBusinessTrip(businessTrip)" class="action delete"><mat-icon>clear</mat-icon></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
        
