<div class="container">
    
    <div class="top">
        <button mat-raised-button color="primary" class="button-add" (click)="createHooky()">Add hooky</button>

        <mat-form-field class="search">
            <input matInput placeholder="Search" [(ngModel)]="searchString">
        </mat-form-field>
    </div>

    <table id="datatables" class="table">
        <thead>
            <tr>
                <th *ngFor="let row of displayedColumns">{{ row }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let hooky of hookies | async | filter : searchString | paginate: { itemsPerPage: countItems, currentPage: page }; let i = index">
                <td>{{i+1+page*countItems-countItems}}</td>
                <td>{{hooky.fullName}}</td>
                <td>{{hooky.employeeID}}</td>                        
                <td>{{hooky.subdivision}}</td>
                <td>{{hooky.dayHooky.split('-').reverse().join('.')}}</td>
                <td>
                    <button mat-raised-button color="accent" (click)="editHooky(hooky)" class="action edit"><mat-icon>edit</mat-icon></button>
                    <button mat-raised-button color="warn" (click)="deleteHooky(hooky)" class="action delete"><mat-icon>clear</mat-icon></button>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls class="my-pagination" (click)="resize()" (pageChange)="page = $event"></pagination-controls>
</div>
    
