mat-form-field {
    padding: 0 34px 0 14px;
    display: block;
}

mat-card {
    width: 300px;
    height: 200px;
    margin: 10% auto auto auto;
    background: #E4E4E4;
}

.container {
    position: relative;
}