.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;    
}
mat-form-field {
    width: 100%;
}

mat-card {
    width: 300px;
    height: 150px;
    background: #ececec;
}

button {
    display: block;
    margin: 30px auto 0;
}