<div class="container">
  <form [formGroup]="editSubdivisionForm" (ngSubmit)="editSubdivision()">
    <h2 mat-dialog-title>Edit subdivision</h2>

    <mat-dialog-content>
      <mat-form-field class="modal-form">
        <input class="modal-input" #input matInput placeholder="Subdivision name" formControlName="name">
        <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint>
        <mat-error *ngIf="formErrors.name">{{ formErrors.name }}</mat-error>
      </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!editSubdivisionForm.valid">Edit</button>
      <button mat-raised-button color="warn" [mat-dialog-close]="true">Close</button>
    </mat-dialog-actions>

  </form>
</div>