<div class="container">
  <h2 mat-dialog-title>Edit subdivision</h2>
  <mat-dialog-content>
      <mat-form-field class="modal-form">
          <input class="modal-input" #input matInput placeholder="Subdivision name" [(ngModel)]="subdivision.name" minlength="4" maxlength="30">
          <mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint>
          <mat-error *ngIf="subdivision.name.length < 4">Enter from 4 to 30 characters</mat-error>
      </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="editSubdivision()" [disabled]="subdivision.name.length < 4">Edit</button>    
    <button mat-raised-button color="warn" [mat-dialog-close]="true">Close</button>
  </mat-dialog-actions>
</div>
