<div class="container">
    <div class="button-add">
        <button mat-raised-button color="primary" (click)="openDialog()">Add sick leave</button>
    </div>

    <div class="material-datatables table-responsive">
        <table id="datatables" class="table" >
            <thead>
                <tr>
                    <th *ngFor="let row of displayedColumns">{{ row }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sickLeave of sickLeaves| async; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{sickLeave.fullName}}</td>
                    <td>{{sickLeave.employeeID}}</td>                        
                    <td>{{sickLeave.subdivision}}</td>
                    <td>{{sickLeave.startDisease.split('-').reverse().join('.')}}</td>
                    <td>{{sickLeave.finishDisease.split('-').reverse().join('.')}}</td>
                    <td>{{sickLeave.disease}}</td>                        
                    <td>
                        <button mat-raised-button color="accent" (click)="editSickLeave(sickLeave)" class="action edit"><mat-icon>edit</mat-icon></button>
                        <button mat-raised-button color="warn" (click)="deleteSickLeave(sickLeave)" class="action delete"><mat-icon>clear</mat-icon></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

