<div class="container">
  <form [formGroup]="editEmployeeForm" (ngSubmit)="editEmployee()">
    
      <h2 mat-dialog-title>Edit employee</h2>
      <mat-dialog-content>
    
        <mat-form-field>
          <mat-select placeholder="Subdivision" formControlName="selectedSubdivision">
            <mat-option *ngFor="let subdivision of subdivisions | async" [value]="subdivision.id">
              {{ subdivision.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formErrors.selectedSubdivision">{{ formErrors.selectedSubdivision }}</mat-error>
        </mat-form-field>
    
        <mat-form-field class="modal-form">
          <input class="modal-input" #input1 matInput placeholder="Surname" formControlName="surname">
          <mat-hint align="end">{{input1.value?.length || 0}}/20</mat-hint>
          <mat-error *ngIf="formErrors.surname">{{ formErrors.surname }}</mat-error>
        </mat-form-field>
    
        <mat-form-field class="modal-form">
          <input class="modal-input" #input2 matInput placeholder="Name" formControlName="name">
          <mat-hint align="end">{{input2.value?.length || 0}}/20</mat-hint>
          <mat-error *ngIf="formErrors.name">{{ formErrors.name }}</mat-error>
        </mat-form-field>
    
        <mat-form-field class="modal-form">
          <input class="modal-input" #input3 matInput placeholder="Patronymic" formControlName="patronymic">
          <mat-hint align="end">{{input3.value?.length || 0}}/20</mat-hint>
          <mat-error *ngIf="formErrors.patronymic">{{ formErrors.patronymic }}</mat-error>
        </mat-form-field>
    
        <mat-form-field hintLabel="Enter date in format dd.mm.yyyy">
          <input matInput [matDatepicker]="picker" placeholder="Choose a birthday" formControlName="birthday" [min]="minDate" [max]="maxDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="formErrors.birthday">{{ formErrors.birthday }}</mat-error>
        </mat-form-field>
    
      </mat-dialog-content>
    
      <mat-dialog-actions>
        <button mat-raised-button type="submit" color="primary" [disabled]="!editEmployeeForm.valid">Edit</button>    
        <button mat-raised-button [mat-dialog-close]="true" color="warn">Close</button>
      </mat-dialog-actions>

  </form>
</div>
