<br>
<div class="button-row">
        <button mat-raised-button color="primary" (click)="openDialog()" >Додати робітника</button>
</div>
<br>

<div class="card">
    <div class="card-content">
        <div class="material-datatables table-responsive">
            <table id="datatables" class="table table-hover" cellspacing="0" width="100%" style="width:100%; background-color: #fff; text-align:center">
                <thead style="background-color: #ccc;">
                    <tr>
                        <th *ngFor="let row of displayedColumns">{{ row }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees| async; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{employee.surname}}</td>
                        <td>{{employee.name}}</td>
                        <td>{{employee.patronymic}}</td>
                        <td>{{employee.age}}</td>
                        <td>{{employee.subdivision}}</td>
                        <td class="">
                            <button mat-raised-button color="primary" (click)="editEmployees(employee)">Edit</button>
                            <button mat-raised-button color="warn" (click)="deleteEmployees(employee)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>  
</div>