<h2 mat-dialog-title>Add sick-leave</h2>
<mat-dialog-content>
  
  <mat-form-field>
    <mat-select placeholder="Subdivision" [(value)]="selectedSubdivision" (change)="onSelect($event.value)">
      <mat-option *ngFor="let subdivision of subdivisions" [value]="subdivision">
        {{ subdivision.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Employee" [(value)]="selectedEmployee">
      <mat-option *ngFor="let employee of employees" [value]="employee">
        {{ employee.surname }} {{ employee.name }} {{ employee.patronymic }} tn{{ employee.id }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker1" placeholder="Choose a date" [(ngModel)]="sickLeave.startDisease">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>    
    <mat-datepicker #picker1 [touchUi]="false" [disabled]="false"></mat-datepicker>
  </mat-form-field>
  
  <mat-form-field>
    <input matInput [matDatepicker]="picker2" placeholder="Choose a date" [(ngModel)]="sickLeave.finishDisease">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="modal-form">
    <input class="modal-input" matInput type="text" placeholder="Disease" [(ngModel)]="sickLeave.disease">
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="createSickLeave()">Create</button>    
  <button mat-button [mat-dialog-close]="true">Close</button>
</mat-dialog-actions>